@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    user-select: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.font-poppins {
    font-family: "Poppins", sans-serif;
}

.text-cyan {
    --tw-text-opacity: 1;
    color: rgb(112 114 129 / var(--tw-text-opacity));
}

.l-bg-rose {
    background: rgb(244, 63, 94);
    background: linear-gradient(90deg, rgba(244, 63, 94, 0.8) 0%, rgba(250, 159, 175, 0.5) 40%, rgba(255, 255, 255, 1) 70%);
}

.r-bg-rose {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 40%, rgba(244, 63, 94, 0.8) 70%);
}

.service-l-img {
    max-width: 280px;
    transform: translate3d(25px, 23px, 10px);
}

.service-r-img {
    max-width: 280px;
    transform: translate3d(50px, 20px, 10px);
}

.bg-service {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(17, 20, 27, 1) 50%);
}

.bg-under {
    background-color: #11141b;
    max-width: 100%;
    width: 100%;
    height: 60%;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 1;
}

.testimonial-img {
    max-width: 60px;
    background-color: rgb(244, 63, 94);
    border: 2px solid;
    border-radius: 50% !important;
    float: left;
}

.t-10y {
    transform: translateX(-10px);
}

.t-25y {
    transform: translateX(-25px);
}

.t-button {
    width: max-content;
    height: 84px;
}