.video-container {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.custom-border {
    position: relative;
    display: inline-block;
    /* Ensure the width is only as wide as the text */
    font-size: 24px;
    /* Adjust font size as needed */
}

.custom-border::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    /* Adjust the height of the border */
    background: linear-gradient(to right, rgb(77 77 225), rgb(244, 63, 94), rgb(77 77 225));
}

.bg-neon-blue {
    background-color: rgb(77 77 225);
}

.bg-neon-blue:hover {
    background-color: rgb(57, 57, 205);
}


/* ul>li {
    margin-bottom: 6px;
} */